@charset "utf-8";

* { margin: 0; padding: 0; }
a img { border: 0; }
a { text-decoration: none; }


/*****************清除浮动 *******************/
.clearfix:before,.clearfix:after { display:table; content:""; }
.clearfix:after { clear:both; overflow:hidden; }
.clearfix { zoom:1; }


/*****************文字大小 *******************/
.a10 { font-size: 10px }
.a11 { font-size: 11px }
.a12 { font-size: 12px }
.a13 { font-size: 13px }
.a14 { font-size: 14px }
.a15 { font-size: 15px }
.a16 { font-size: 16px }
.a17 { font-size: 17px }
.a18 { font-size: 18px }
.a19 { font-size: 19px }
.a20 { font-size: 20px }

/*****************文字划线 *******************/
.a-underline { text-decoration: underline }
.a-linethrough { text-decoration: line-through }
.a-overline { text-decoration: overline }

/*****************颜色 *******************/
.col-b { color: #000 }
.col-w { color: #fff }
.col-grey1 { color: #e2e2e2 }
.col-grey2 { color: #9e9e9e  }
.col-grey3 { color: #333333  }
.col-red { color: #ec3b57  }
.col-blue { color: #457fca  }
.col-cyan { color: #379c94  }
.col-green { color: #78b83e  }
.col-yellow { color: #ffe821  }
.col-orange { color: #FF9800  }


.inline { display: inline-block; }
.primary:{ color: #007bff;}
.secondary:{ color: #6c757d;}
.success: { color:#28a745;}
.info:{ color:#17a2b8;}
.warning:{ color:#ffc107;}
.danger:{ color: #dc3545;}


/***********************************背景颜色 黑白灰 *******************************/
.bgc-g0 { background-color:#f0f0f0;}
.bgc-g1 {background-color:#e2e2e2;}
.bgc-g2 {background-color:#9E9E9E; }
.bgc-g3 {background-color:#000000; }
.bgc-w { background-color:#ffffff; }
.bgc-b { background-color #000000; }


/***************** 高度  *******************/
.hg5 { height: 5px; }
.hg10 { height: 10px; }
.hg15 { height: 15px; }
.hg20 { height: 20px; }
.hg30 { height: 30px; }
.hg40 { height: 40px; }
.hg50 { height: 50px; }

/***************** 宽度  *******************/
.wid50 { width: 50px; }
.wid100 { width: 100px; }
.wid150 { width: 150px; }
.wid200 { width: 200px; }
.wid250 { width: 250px; }
.wid300 { width: 300px; }
.wid350 { width: 350px; }
.wid400 { width: 400px; }
.wid500 { width: 500px; }
.wid600 { width: 600px; }
.wid800 { width: 800px; }
.wid1000 { width:1000px; }
.wid1200 { width:1200px; }
.wid20p { width: 20%; }
.wid50p { width: 50%; }
.wid100p { width: 100%; }


/***************** 透明  *******************/
.opacity9 {opacity: 0.9;}
.opacity8 {opacity: 0.8;}
.opacity7 {opacity: 0.7;}
.opacity6 {opacity: 0.6;}
.opacity5 {opacity: 0.5;}


/***************** 细线  *******************/
.line1 { height: 1px; background-color: #e2e2e2; margin-top: 15px; margin-bottom: 15px; }
.line2 { height: 1px; background-color: #9E9E9E; margin-top: 15px; margin-bottom: 15px; }
.line3 { height: 1px; background-color: #000000; margin-top: 15px; margin-bottom: 15px; }




/***********************************Padding 设定*******************************/
.np { padding: 0px !important; }
.nplr { padding-left: 0px !important; padding-right: 0px !important; }
.npt { padding-top: 0px; }
.npb { padding-bottom: 0px; }
.npl { padding-left: 0px; }
.npr { padding-right: 0px; }

.pl5 { padding-left: 5px; }
.pl8 { padding-left: 8px; }
.pl10 { padding-left: 10px; }
.pl15 { padding-left: 15px; }
.pl20 { padding-left: 20px; }
.pl25 { padding-left: 25px; }
.pl30 { padding-left: 30px; }
.pl-5 { padding-left: -5px; }
.pl-10 { padding-left: -10px; }
.pl-15 { padding-left: -15px; }

.pt5 { padding-top: 5px; }
.pt8 { padding-top: 8px; }
.pt10 { padding-top: 10px; }
.pt15 { padding-top: 15px; }
.pt20 { padding-top: 20px; }
.pt25 { padding-top: 25px; }
.pt30 { padding-top: 30px; }
.pt-5 { padding-top: -5px; }
.pt-10 { padding-top: -10px; }
.pt-15 { padding-top: -15px; }


.pr5 { padding-right: 5px; }
.pr8 { padding-right: 8px; }
.pr10 { padding-right: 10px; }
.pr15 { padding-right: 15px; }
.pr20 { padding-right: 20px; }
.pr25 { padding-right: 25px; }
.pr30 { padding-right: 30px; }
.pr-5 { padding-right: -5px; }
.pr-10 { padding-right: -10px; }
.pr-15 { padding-right: -15px; }


.pb5 { padding-bottom: 5px; }
.pb8 { padding-bottom: 8px; }
.pb10 { padding-bottom: 10px; }
.pb15 { padding-bottom: 15px; }
.pb20 { padding-bottom: 20px; }
.pb25 { padding-bottom: 25px; }
.pb30 { padding-bottom: 30px; }
.pb-5 { padding-bottom: -5px; }
.pb-10 { padding-bottom: -10px; }
.pb-15 { padding-bottom: -15px; }


/***********************************margin 设定*******************************/
.nm { margin: 0px !important; }
.nmlr { margin-left: 0px !important; padding-right: 0px !important; }
.nmt { margin-top: 0px; }
.nmb { margin-bottom: 0px; }
.nml { margin-left: 0px; }
.nmr { margin-right: 0px; }


.ml5 { margin-left: 5px; }
.ml8 { margin-left: 8px; }
.ml10 { margin-left: 10px; }
.ml15 { margin-left: 15px; }
.ml20 { margin-left: 20px; }
.ml25 { margin-left: 25px; }
.ml30 { margin-left: 30px; }
.ml-5 { margin-left: -5px; }
.ml-10 { margin-left: -10px; }
.ml-15 { margin-left: -15px; }

.mt5 { margin-top: 5px; }
.mt8 { margin-top: 8px; }
.mt10 { margin-top: 10px; }
.mt15 { margin-top: 15px; }
.mt20 { margin-top: 20px; }
.mt25 { margin-top: 25px; }
.mt30 { margin-top: 30px; }
.mt-5 { margin-top: -5px; }
.mt-10 { margin-top: -10px; }
.mt-15 { margin-top: -15px; }


.mr5 { margin-right: 5px; }
.mr8 { margin-right: 8px; }
.mr10 { margin-right: 10px; }
.mr15 { margin-right: 15px; }
.mr20 { margin-right: 20px; }
.mr25 { margin-right: 25px; }
.mr30 { margin-right: 30px; }
.mr-5 { margin-right: -5px; }
.mr-10 { margin-right: -10px; }
.mr-15 { margin-right: -15px; }


.mb5 { margin-bottom: 5px; }
.mb8 { margin-bottom: 8px; }
.mb10 { margin-bottom: 10px; }
.mb15 { margin-bottom: 15px; }
.mb20 { margin-bottom: 20px; }
.mb25 { margin-bottom: 25px; }
.mb30 { margin-bottom: 30px; }
.mb-5 { margin-bottom: -5px; }
.mb-10 { margin-bottom: -10px; }
.mb-15 { margin-bottom: -15px; }


/***********************************border 设定*******************************/
.bd1 {border: 1px solid #e2e2e2; }
.bdl1 {border-left: 1px solid #e2e2e2;}
.bdt1 {border-top: 1px solid #e2e2e2;  }
.bdr1 {border-right: 1px solid #e2e2e2; }
.bdb1 {border-bottom: 1px solid #e2e2e2; }


/***********************************定位 设定*******************************/
.rel {position: relative;}
.abs {position: absolute;}

