@charset "utf-8";
/********************************************************************************/
/********************************************************************************/
/*************基本/*******************/
#header { width: 1200px; }
#Home_Main { margin: 0 auto; width: 1200px; }
#Home_Maincont { margin: 0 auto; width: 1200px; }
#totop { margin-right: -600px; }